div {
  text-align: center;
  border: solid;
  color: grey;
}

ul {
  display: block;
  float: left;
  text-align: center;
  border: solid;
  width: 150px;
  margin: 3%;
  list-style: none;
  background-color: grey;
  border-radius: 10%;
}
li {
  width: auto;
  margin-right: 30%;
  color: white;
}
